<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>webStudy03_Maven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<context-param>
    <param-name>fileAddr</param-name>
    <param-value>d:/contents</param-value>
  </context-param>
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
  	<init-param>
  		<param-name>basePackages</param-name>
  		<param-value>
  		kr.or.ddit.member.controller
  		kr.or.ddit.common.controller
  		kr.or.ddit.prod.controller
  		</param-value>
  	</init-param>
  	<init-param>
  		<param-name>prefix</param-name>
  		<param-value>/WEB-INF/views/</param-value>
  	</init-param>
  	<init-param>
  		<param-name>suffix</param-name>
  		<param-value>.jsp</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>/member/*</url-pattern>
  	<url-pattern>/buyer/*</url-pattern>
  	<url-pattern>/mypage/*</url-pattern>
  	<url-pattern>/login</url-pattern>
  	<url-pattern>/logout</url-pattern>
  	<url-pattern>/prod/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
    <init-param>
      <param-name>param</param-name>
      <param-value>value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error/errorNullPoint.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error/errorNullPoint.jsp</location>
  </error-page>
</web-app>